# Dependencias de Composer
/vendor/

# Configuración local de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.cache
*.tmp

# Configuración de IDEs y editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Configuración de XAMPP / PHPStorm
htdocs/**/config.php

# Archivos de sistema de Windows
desktop.ini




# Archivos de caché y logs de CodeIgniter
writable/cache/*
writable/logs/*

# Excepto el index.html (CodeIgniter lo necesita en algunas carpetas vacías)
!writable/cache/index.html
!writable/logs/index.html
